{% extends "budget_base.html"%}
{% block title %}Stats Page{% endblock %}

{% block content %} 

<h1>Hello {{name}}</h1>
<h2>Here are your stats</h2>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% for info in data %}

    <p>Expense: {{data[info][0]}}</p>
    <p>Total Earned: {{data[info][1]}}</p>
    <p>Total Spent: {{data[info][2]}}</p>
    <p>Total Saved: {{data[info][1] - data[info][2]}}</p>
    <p>-----------------------------------------------------------------------------------------------------</p>

{% endfor%}



{% endblock %}