{% extends "budget_base.html"%}
{% block title %}Stats Page{% endblock %}

{% block content %} 

<h1>Hello {{name}}</h1>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% for info in data %}

    <h2>{{data[info][0]}}</h2>
    {% set earned = data[info][1]%}
    {% set spent = data[info][2]%}
    {% set saved = data[info][1] - data[info][2]%}

    <p>Total Earned: {{earned}}</p>
    <p>Total Spent: {{spent}}</p>
    <p>Total Saved: {{saved}}</p>

    
    {% if earned == 0 %}

        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">N/A</div>
        </div>

    {% elif spent>=earned %}

        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: 100%</div>
        </div>

        <h2>SPENDING TOO MUCH! CHILLLLLL</h2>

    {% else %}
        {% set savings_percent = [((earned - spent) / earned) * 100, 0]|max %}
        {% set spending_percent = [(spent / earned) * 100, 100]|min %}
        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{savings_percent}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Saved: {{ savings_percent }}%</div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{spending_percent}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: {{ spending_percent }}%</div>
        </div>

    {% endif %}


    <p>-----------------------------------------------------------------------------------------------------</p>

{% endfor%}



{% endblock %}