{% extends "budget_base.html"%}
{% block title %}VIEW ALL DATA {% endblock %}

{% block content %} 
    <h1>VIEW OF ALL DATA</h1>
    {% for data in info %}

        <h2>USER DATA</h2>
        <p>User name: {{data["User"].name}}</p>
        <p>User email: {{data["User"].email}}</p>
        <p>User pw: {{data["User"].pw}}</p>
        <p>User Expenses:</p>
        
        <h2>EXPENSE DATA</h2>
        {% for expense in data["Expenses"] %}
            <p>ID: {{expense.id}} | EXPENSE: {{expense.name}} | Percentage: {{expense.percentage}} | Status: {{expense.status}} | Earnings: {{expense.earnings}}| Spendings: {{expense.spendings}}| Savings: {{expense.savings}}</p>
        {% endfor%}
        
        <h2>ENTRY DATA</h2>
        {% for entry in data["Entry"] %}
            <p>Date: {{entry.date}} | Income: {{entry.income}}</p>
        {% endfor%}
        
        <h2>SNAPSHOT DATA</h2>
        {% for snap in data["Snapshot"] %}
            <p>ID: {{snap.expense_id}} | Expense Name: {{snap.expense_name}} | Expense Percent: {{snap.expense_percentage}} | Earnings: {{snap.expense_earnings}} | Spending: {{snap.total_spending}}</p>
        {% endfor %}

        <h2>SPENDING DATA</h2>
        {% for spending in data["Spending"] %}
            <p>Spending: {{spending.amount}} | Reasoning: {{spending.reasoning}}</p>
        {% endfor %}

    <p>--------------------------------------------------------</p>
    {% endfor %}


{% endblock %}