{% extends "budget_base.html" %}
{% block title%} Charts {% endblock%}

{% block content %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="flash-message">{{msg}}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    <div class="chart-container">
        <div id="chart"></div>
    </div>

    <div class="chart-container">
        <div id="expense_bar"></div>
    </div>



{% endblock %}



{% block scripts%}
    <script>
        fetch("/spending_income_data").then(response => response.json()).then(data=> {
            const income = {
                x: data.dates_income,
                y: data.income,
                type: "scatter",
                mode: "lines+markers",
                name: "Income",
                line: {
                    color: '#5fb878',  // Green line
                    width: 3
                },
                marker: {
                    color: '#5fb878',  // Green markers
                    size: 8
                },
                text: data.income.map(val => `$${val}`),  // Show income values
                hovertemplate: '<b>%{text}</b><br>Date: %{x}<extra></extra>'  // Display on hover
            };

            const spending = {
                x: data.dates_spending,
                y: data.spending,
                type: "scatter",
                mode: "lines+markers",
                name: "Spending",
                line: {
                    color:"#e87373",
                    width: 3
                },
                marker: {
                    color: "#e87373",
                    size: 8
                },
                text: data.spending.map(val => `$${val}`),  
                hovertemplate: '<b>%{text}</b><br>Date: %{x}<extra></extra>'  // Display on hover
            };
            

            const layout = {
                title: "Income/Spending Over Time",
                xaxis: {title: "Dates"},
                yaxis: {title: "Cash ($)"}
            };

            Plotly.newPlot("chart", [income, spending], layout, {displayModeBar: false});
        });



        fetch("/all_expense_data").then(response => response.json()).then(data=>{
            const earned = {
                x: data.expenses,
                y: data.total_earned,
                name: "Total Earnings",
                type: "bar",
                marker: { color: "#5fb878" },
                text: data.total_earned.map(val => `$${val}`),
                textposition: "auto",
                hoverinfo: "none",
                hovertemplate: '<b>Total Earnings</b><br> $%{y}<extra></extra>'
            };

            const spending = {
                x: data.expenses,
                y: data.total_spent,
                name: "Total Spending",
                type: "bar",
                marker: { color: "#e87373" },
                text: data.total_spent.map(val => `$${val}`),
                textposition: "auto",
                hoverinfo: "y+name",
                hovertemplate: '<b>Total Earnings</b><br> $%{y}<extra></extra>'
            };

            const savings = {
                x: data.expenses,
                y: data.total_saved,
                name: "Total Savings",
                type: "bar",
                marker: { color: "#147CC6" },
                text: data.total_saved.map(val => `$${val}`),
                textposition: "auto",
                hoverinfo: "y+name",
                hovertemplate: '<b>Total Earnings</b><br> $%{y}<extra></extra>'
            };


            const layout = {
                barmode: "group",
                title: "Expense Overview"
            };

            Plotly.newPlot("expense_bar", [earned, spending, savings], layout, {displayModeBar: false})
        });
    </script>

{% endblock %}