{% extends "budget_base.html" %}
{% block title%} Entries {% endblock%}

{% block content %}

<div class="expense-container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="flash-message">{{msg}}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1 class="main-title">ENTRY TAB</h1>

    <table class="expense-table">
        <thead>
            <tr>
                <th style="width: 70%;">Date</th>
                <th style="width: 30%; text-align: right;">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{entry.date}}</td>
                <td style="text-align: right;">
                    <a href="{{url_for('entry.view_entry', entry_id = entry.id)}}" class="btn btn-success">View</a>
                    
                    <form action="{{url_for('entry.delete_entry', entry_id = entry.id)}}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

            <tr class="add-row">
                <form action="/add_entry" method="POST">
                    <td>+</td>
                    <td style="text-align: right;"><button type="submit" class="btn btn-primary">Add Entry</button></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts%}
{% endblock %}