{% extends "budget_base.html" %}
{% block title%} Entries {% endblock%}

{% block content %}

<div class="expense-container">


    <h1 class="main-title">Your Entries</h1>

    <table class="expense-table">
        <thead>
            <tr>
                <th style="width: 70%;">Date</th>
                <th style="width: 30%; text-align: right;">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{entry.date}}</td>
                <td class="button-cell">
                    <div class="button-group">
                        <a href="{{url_for('entry.view_entry', entry_id = entry.id)}}" class="btn btn-success">View</a>
                        
                        <form action="{{url_for('entry.delete_entry', entry_id = entry.id)}}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}

            <tr class="add-row">
                <td>+</td>
                <td class="button-cell">
                    <form action="/add_entry" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts%}
{% endblock %}