{% extends "budget_base.html"%}
{% block title %} Manage Expenses {% endblock %}


{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p>{{msg}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}



<h1>Summary</h1>
<h2>Percentage: {{status[0]}}</h2>
{% if status[1] %}
  <h2>Status: Perfect</h2>

{% else %}
  <h2>Status: Error</h2>
{% endif %}


<h1>Active Expenses</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> # </th>
      <th scope="col" data-field="expense" data-sortable="true" data-align="center">Expense</th>
      <th scope="col" data-field="percent" data-sortable="true" data-align="center">Percentage</th>
      <th scope="col"> Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for active_expenses in active_expenses%}
      {% if active_expenses %}
        <tr>
          <form action="/edit_expense/{{active_expenses.id}}" method = "POST">
            <td data-align="center" name="row_id" value="{{loop.index}}">{{loop.index}}</td>
            <td><input type="text" name="name" value="{{active_expenses.name}}"></td>
            <td><input type="number" name="percentage" value="{{active_expenses.percentage}}"></td>
            <td>
                <button type="submit" class="btn btn-success">Save</button> 
                <button class="btn btn-danger" formaction="/archive_expense/{{active_expenses.id}}" onclick="return confirm('Deleted expenses cannot be recovered. Are you sure you want to delete this expense?')">Archive</button>
            </td>
          </form>
        </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <form action="/add_expense" method="POST">

        <td><p>+</p></td>

        <td><input type="text" name="expense_name" required></td><p>

        <td><input type="number" name="percent" required></td>

        <td><button type="submit" class="btn btn-primary">Add</button></td>


      </form>
    </tr>

  </tbody>
</table>


<h1>Archived Expenses</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> # </th>
      <th scope="col" data-field="expense" data-sortable="true" data-align="center">Expense</th>
      <th scope="col" data-field="percent" data-sortable="true" data-align="center">Percentage</th>
      <th scope="col"> Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for inactive_expenses in inactive_expenses%}
      {% if inactive_expenses %}
        <tr>
          <form action="restore_expense/{{inactive_expenses.id}}" method = "POST">
            <td data-align="center" name="row_id" value="{{loop.index}}">{{loop.index}}</td>
            <td>{{inactive_expenses.name}}</td>
            <td>{{inactive_expenses.percentage}}</td>
            <td>
                <button type="submit" class="btn btn-success">Restore</button> 
                <button class="btn btn-danger" formaction="#">Delete</button>
            </td>
          </form>
        </tr>
      {% endif %}
    {% endfor %}

  </tbody>
</table>




{% endblock %}

{% block scripts%}

{% endblock %}