{% extends "budget_base.html"%}
{% block title %}Stats Page{% endblock %}

{% block content %} 

<h1>Hello {{user.name}}</h1>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


<p>Total Balance: {{lifetime_stats["Balance"]}}</p>
<p>Total Earnings: {{lifetime_stats["Earnings"]}}</p>
<p>Total Deposits: {{lifetime_stats["Deposits"]}}</p>
<p>Total Spent: {{lifetime_stats["Spendings"]}}</p>
<p>Total Savings: {{lifetime_stats["Savings"]}}</p>


<h2>Deposit</h2>
<form action="/deposit" method="POST">
    <select name="expense_id" required>
        <option value="">Select Expense</option>
        {% for expense_id in active_expenses %}
            <option value="{{expense_id}}">{{active_expenses[expense_id]["name"]}}</option>
        {% endfor %}
    </select>

    <input type="number" step="0.01" name="amount" placeholder="Amount to Deposit">
    <button type="submit">Deposit</button>

</form>


<h1>Active Expenses:</h1>
{% for expense_id in active_expenses %}

    <h2>{{active_expenses[expense_id]["name"]}}</h2>
    {% set earned = active_expenses[expense_id]["earning"]%}
    {% set spent = active_expenses[expense_id]["spending"]%}
    {% set saved = active_expenses[expense_id]["saving"]%}
    {% set balance = active_expenses[expense_id]["balance"]%}
    {% set deposit = active_expenses[expense_id]["deposit"]%}

    <table class="table">
        <thead>
            <tr>
                <th>Total Balance</th>
                <th>Total Earned</th>
                <th>Total Deposited</th>
                <th>Total Spent</th>
                <th>Total Saved</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>${{balance}}</td>
                <td>${{earned}}</td>
                <td>${{deposit}}</td>
                <td>${{spent}}</td>
                <td>${{saved}}</td>
            </tr>
        </tbody>

    </table>

    
    {% if earned == 0 %}

        <p>><div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">N/A</div>
        </div>
        </p

    {% elif spent>=earned %}

        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: 100%</div>
        </div>

        <h2>SPENDING TOO MUCH! CHILLLLLL</h2>

    {% else %}
        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{active_expenses[expense_id]['spending_percent']}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: {{active_expenses[expense_id]['spending_percent']}}%</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: {{active_expenses[expense_id]['saving_percent']}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Saved: {{active_expenses[expense_id]['saving_percent']}}%</div>
        </div>

    {% endif %}


    <p>---------------------------------------------------------------------------------------------------------------------------</p>

{% endfor%}

<h1>------------------------------------------------------------------------------------------------</h1>

<h1>Inactive Expenses:</h1>
{% for expense_id in inactive_expenses %}

    <h2>{{inactive_expenses[expense_id]["name"]}}</h2>
    {% set earned = inactive_expenses[expense_id]["earning"]%}
    {% set spent = inactive_expenses[expense_id]["spending"]%}
    {% set saved = inactive_expenses[expense_id]["saving"]%}
    {% set balance = inactive_expenses[expense_id]["balance"]%}
    {% set deposit = inactive_expenses[expense_id]["deposit"]%}

    <table class="table">
        <thead>
            <tr>
                <th>Total Balance</th>
                <th>Total Earned</th>
                <th>Total Deposited</th>
                <th>Total Spent</th>
                <th>Total Saved</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>${{balance}}</td>
                <td>${{earned}}</td>
                <td>${{deposit}}</td>
                <td>${{spent}}</td>
                <td>${{saved}}</td>
            </tr>
        </tbody>

    </table>

    
    {% if earned == 0 %}

        <p>><div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">N/A</div>
        </div>
        </p

    {% elif spent>=earned %}

        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: 100%</div>
        </div>

        <h2>SPENDING TOO MUCH! CHILLLLLL</h2>

    {% else %}
        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{inactive_expenses[expense_id]['spending_percent']}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: {{inactive_expenses[expense_id]['spending_percent']}}%</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: {{inactive_expenses[expense_id]['saving_percent']}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Saved: {{inactive_expenses[expense_id]['saving_percent']}}%</div>
        </div>

    {% endif %}


    <p>---------------------------------------------------------------------------------------------------------------------------</p>

{% endfor%}

{% endblock %}