{% extends "budget_base.html"%}
{% block title %}Stats Page{% endblock %}

{% block content %} 

<h1>Hello {{user.name}}</h1>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}


<p>Total Earnings: {{lifetime_stats["Earnings"]}}</p>
<p>Total Spent: {{lifetime_stats["Spendings"]}}</p>
<p>Total Savings: {{lifetime_stats["Savings"]}}</p>

<h2>Deposit</h2>
<form action="/deposit" method="POST">
    <select name="expense_id" required>
        <option value="">Select Expense</option>
        {% for info in data %}
            <option value="{{info}}">{{data[info][0]}}</option>
        {% endfor %}
    </select>

    <input type="number" step="0.01" name="amount" placeholder="Amount to Deposit">
    <button type="submit">Deposit</button>

</form>


<h1>Expense Stats:</h1>
{% for info in data %}

    <h2>{{data[info][0]}}</h2>
    {% set earned = data[info][1]%}
    {% set spent = data[info][2]%}
    {% set saved = data[info][3]%}

    <table class="table">
        <thead>
            <tr>
                <th>Total Earned</th>
                <th>Total Spent</th>
                <th>Saved</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>${{earned}}</td>
                <td>${{spent}}</td>
                <td>${{saved}}</td>
            </tr>
        </tbody>

    </table>

    
    {% if earned == 0 %}

        <p>><div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar " role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">N/A</div>
        </div>
        </p

    {% elif spent>=earned %}

        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: 100%</div>
        </div>

        <h2>SPENDING TOO MUCH! CHILLLLLL</h2>

    {% else %}
        <div class="progress" style="width: 95%; margin: 0 auto; height: 40px; font-size: 18px;">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{data[info][4]}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Spent: {{data[info][4]}}%</div>
            <div class="progress-bar bg-success" role="progressbar" style="width: {{data[info][5]}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Saved: {{data[info][5]}}%</div>
        </div>

    {% endif %}


    <p>---------------------------------------------------------------------------------------------------------------------------</p>

{% endfor%}



{% endblock %}