{% extends "budget_base.html" %}
{% block title%} ENTRY VIEWING {% endblock%}

{% block content %}
<h1>DATE: {{entry.date}}</h1>
<h1>CURRENT INCOME: ${{entry.income}}</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p>{{msg}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="/add_income/{{entry.id}}" method="POST">
    <p><input type="number" step="0.01" name="income" placeholder="Enter income"></p>
    <p><button type="submit">Submit</button></p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>Expense</th>
            <th>Allocated</th>
            <th>Available Money</th>
            <th>Spendings</th>
            <th>Saved</th>
        </tr>
    </thead>

    <tbody>
        {% for snapshot in snapshots %}
            {% if snapshot %}
                <tr>
                    <td>{{snapshot.expense_name}}</td>
                    <td>${{snapshot.expense_earnings}}</td>
                    <td>${{est_balance[snapshot]}}</td>
                    <td>
                        <form action="/add_spending/{{snapshot.id}}" method="POST">
                            <p><input type="number" step="0.01" placeholder="Total Spent: ${{snapshot.total_spending}}" name="spending" required></p>
                            <p><input type="text" placeholder="Add Note" name="reasoning"></p> 
                            <button type="submit" class="btn btn-primary">Save</button>

                        </form>

                    </td>
                    <td>${{snapshot.get_savings()}}</td>

                </tr>

            {% endif %}
        {% endfor%}
    </tbody>

</table>


<h1>Spending Log</h1>
<table class="table">
    <thead>
        <tr>
            <th>Expense</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Reasoning</th>
            <th>Action</th>
        </tr>
        
    </thead>

    <tbody>
        {% for spent in spending %}
            <tr>
                <td>{{spent.expense_name}}</td>
                <td>{{spent.date}}</td>
                <td>{{spent.amount}}</td>
                {% if reasoning %}
                    <td>{{spent.reasoning}}</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                <td>
                    <form action="/delete_spending/{{spent.id}}" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>





{% endblock %}

{% block scripts%}

{% endblock %}