{% extends "budget_base.html" %}
{% block title%} Entries {% endblock%}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="flash-message">{{msg}}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    <div id = "chart"></div>



{% endblock %}



{% block scripts%}
    <script>
        fetch("/chart_data").then(response => response.json()).then(data=> {
            const trace = {
                x: data.dates,
                y: data.income,
                type: "scatter",
                mode: "lines+markers",
                name: "Income",
                line: {
                    color: '#00cc66',  // Green line
                    width: 3
                },
                marker: {
                    color: '#00cc66',  // Green markers
                    size: 8
                },
                text: data.income.map(val => `$${val}`),  // Show income values
                hovertemplate: '<b>%{text}</b><br>Date: %{x}<extra></extra>'  // Display on hover
            };

            const layout = {
                title: "Income Over Time",
                xaxis: {title: "Dates"},
                yaxis: {title: "Income ($)"}
            };

            Plotly.newPlot("chart", [trace], layout);
        });

    </script>

{% endblock %}